*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

# Ignore libs that should be built elsewhere
/app/libs/libvlc.aar
/app/libs/vitamio.aar